---
// TODO: Why don't SlideType typings work. Everything says "any"
// import { SlideType } from "../presentation.d.ts";
import BaseHead from "../components/BaseHead.astro";
import SlideHeader from "../components/SlideHeader.astro";
import SlidePreview from "../components/SlidePreview.astro";

const title = "UPC Lookup Service with Astro &amp; Cloudflare";
const description =
	'How to use Astro and Cloudflare to build and host amazing "serverless" projects.';
const permalink = "https://upc-lookup-presentation.codedemos.dev/";

import slides from "../data/slides.json";
---

<html lang="en">
	<head>
		<BaseHead {title} {description} {permalink} />
	</head>

	<body class=" text-gray-700 mx-auto max-w-6xl">
		<SlideHeader element="h1" />
		<main class="px-8 mt-32 sm:mt-32 md:mt-16 mb-8">
			<article aria-label="Presentation slides list">
				<!-- {slides.map((slide: SlideType) => <SlidePreview slide={slide} />)} -->
				{slides.map((slide) => <SlidePreview slide={slide} />)}
			</article>
		</main>
	</body>
</html>
